.button__close{
  transform: rotate(45deg);
  position: absolute;
  top: -40px;
  right: 0;
  background: url('https://shimapi.github.io/web_project_4_esp/images/add.svg') no-repeat top left;
  background-size: contain;
  width: 26px;
  height: 26px;
}
.button__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media only screen and (min-width: 768px)  {
  .button__close{
    right: -40px;
    width: 40px;
    height: 40px;
  }
}