@import url(/vendor/normalize.css);
@import url(/vendor/fonts.css);

*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
}
body{
  color: #fff;
  background-color: rgb(168, 102, 184);
  font-family: inter, sans-serif;
}

@media only screen and (max-width: 320px) {
  .container{
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 321px) and (max-width: 879px) {
  .container{
    background-color: rgb(196, 120, 167);
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
    gap: 17px;
  }  
}

@media only screen and (min-width: 880px) {
  .container{
    background-color: rgb(128, 0, 60);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 880px;
  }  
}


.header{
  padding: 28px 27px;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
  width: 100%;
}
.header__logo{}
.header__logo_img{
  width: 126px;
  height: 24px;
}
@media only screen and (min-width: 880px) {
  .header{
    padding: 28px 0;
    border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
    width: 100%;
  }
  .header__logo_img{
    width: 173px;
    height: 33px;
  }
}


.owner{
  width: 100%;
  text-align: center;
  padding: 38px 19px 15px;
}
.owner__avatar_img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 20px;
}
.owner__info_container{
  display: flex;
  justify-content: center;
}
.owner__info_name{
  font-size: 22px;
  font-weight: 500;
  margin: 0 10px;
}
.owner__info_edit{
  height: 18px;
  width: 18px;
  margin: 5px 0 0 0;
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owner__info_edit:hover{
  opacity: 0.6;
  cursor: pointer;
}
.owner__about{
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
}

@media only screen and (min-width: 881px) {
  .owner{
    display: flex;
    padding: 38px 0 15px;
    text-align: left;
    width: 80%;
  }
  .owner__avatar{
    background-color: aquamarine;
  }
  .owner__info{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 20px;

  }
  .owner__info_container{
    display: flex;
    align-items: center;
  }
  .owner__info_name{
    margin: 0;
    font-size: 42px;
    font-weight: 500;
  }
  .owner__info_edit{
    height: 24px;
    width: 24px;
    margin: 10px ;
  }
  .owner__about{
    font-size: 18px;
    font-weight: 400;
  }
}
@media only screen and (max-width: 320px) {
  .main{
    flex-flow: nowrap;
    padding: 0 19px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 879px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    padding: 0 19px;
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 881px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 880px;
    justify-content: space-between;
  }
}
.upload{
  padding: 0 19px;
  width: 100%;
}

.upload__add-photo{
  width: 100%;
  height: 50px;
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.upload__add-photo:hover{
  opacity: 0.6;
  cursor: pointer;
}
.upload__add-photo_img{
  height: 16px;
  width: 16px;
}

@media only screen and (min-width: 880px) {
  .upload{
    display: flex;
    padding: 38px 0 15px;
    width: 20%;
    background-color: antiquewhite;
    align-items: center;
  }
  .upload__add-photo{
    width: 150px;
  }
}

.main__card{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 282px;
}

@media only screen and (min-width: 880px) {


}

.post-image{}
.main__card_photo-name{
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: space-between;
  padding:  20px;
}
.main__card_photo-title{
  color: #000;
  font-size: 24px;
  font-weight: 900;
  margin:0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main__card_like{}
.main__card_like:hover{
  opacity: 0.6;
  cursor: pointer;
}
.main__card_like:active{
  cursor: pointer;
  background-image: url(/images/like-fill.svg) no-repeat;
}


.main__footer{
  padding: 19px;
}

.main__footer_about{
  font-size: 14px;
  font-weight: 400;
  color: #545454;
}