@import url(/vendor/normalize.css);
@import url(/vendor/fonts.css);
@import url(/blocks/container/container.css);
@import url(/blocks/header/header.css);
@import url(/blocks/owner/owner.css);
@import url(/blocks/avatar/avatar__circle.css);
@import url(/blocks/main-text/main-text.css);
@import url(/blocks/main/main.css);
@import url(/blocks/card/card.css);
@import url(/blocks/upload/upload.css);
@import url(/blocks/button/button.css);
@import url(/blocks/modal/modal.css);
@import url(/blocks/edit-profile/edit-profile.css);
@import url(/blocks/footer/footer.css);
@import url(/blocks/photo-popup/photo-popup.css);

*{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  border: 0;
}
body{
  color: #fff;
  font-family: Inter, sans-serif;
  background-color: #000;
}