@import url(/blocks/main/__card/__card.css);
@import url(/blocks/main/__card_like/__card_like.css);
@import url(/blocks/main/__card_photo-name/__card_photo-name.css);
@import url(/blocks/main/__card_photo-title/__card_photo-title.css);


.main{
  flex-flow: nowrap;
  padding: 0 19px;
}

@media only screen and (min-width: 321px) and (max-width: 879px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 881px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 880px;
    justify-content: space-between;
  }
}