.owner__info_edit{
  height: 18px;
  width: 18px;
  margin: 5px 0 0 0;
  background-color: #000;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owner__info_edit:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media only screen and (min-width: 881px) {
  .owner__info_edit{
    height: 24px;
    width: 24px;
    margin: 10px;
  }
}