@import url(/blocks/modal/__container/__container.css);
@import url(/blocks/modal/__input/__input.css);

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}