@import url('https://shimapi.github.io/web_project_4_esp/blocks/card/__photo-name/__photo-name.css');
@import url('https://shimapi.github.io/web_project_4_esp/blocks/card/__photo-title/__photo-title.css');


.card{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 282px;
}